body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Conatiner for the slider */
.slider-square {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    animation: slideColorChange 3s ease-in-out infinite;
}

/* Animation for the slider */
/* The animation will move the square down and change its color from red to blue and back to red */
@keyframes slideColorChange {
    0% {
        top: 0;
        background-color: red;
    }
    50% {
        top: 250px; /* move down */
        background-color: blue;
    }
    100% {
        top: 0; /* move back to original position */
        background-color: red;
    }
}
