body {
    font-family: sans-serif;
    margin: 0;
  }
  .container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
  }
  .column {
    background: rgb(86, 15, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }