body {
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: purple;
}

.background-1 {
    background: #68B0AB;
}

.background-2 {
    background: #8FC0A9;
}

.background-3 {
    background: #C8D5B9;
}

.background-4 {
    background: #FAF3DD;
}

.m-20 {
    margin: 20px;
}

.h-80 {
    height: 80px;
}

.h-400 {
    height: 400px;
}

.w-80 {
    width: 80px;
}
/* pre code copy ends here */
.flex-container {
    display: flex;
    flex-direction:row; /* 6 */
}

/* 1 */
.flex-item-1 {
    flex: 1;
}

.flex-item-2 {
    flex: 2;
}

.flex-item-3 {
    flex: 3;
}

.flex-item-4 {
    flex: 4;
}

/* 3 */
.flex-center {
    justify-content:center;
    align-items: center;
}

/* 4 */
.flex-space-between {
    justify-content:space-between;
}

/* 5 */
.flex-basis-item-50 {
    flex-basis: 20%;
}

.flex-wrap {
  flex-wrap: wrap-reverse;  
}

/* 7 */
.flex-menu {
    display: flex;
    align-items: center;
    justify-content: right;
    justify-content: center;
    list-style-type: none;
    gap: 3px;
}

.fourth-item {
    order: 5;
}


.background-3 {
    width: 110px;
    justify-content: center;
    height: 40px;
    text-align: center;
}


a {
    color: black;
    font-weight: bold;
}

